@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: var(
    --Linear,
    linear-gradient(99deg, #ff968c 0%, #ff968c 8.01%, #ff4d56 56.95%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-color {
  color: #fa575f;
  text-align: center;
  font-family: Antonio;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 18px */
}

.boxed {
  border-radius: 15px;
  background: var(
    --Linear,
    linear-gradient(99deg, #ff968c 0%, #ff968c 8.01%, #ff4d56 56.95%)
  );
  display: flex;
  width: 170px;
  height: 40px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.boxed-grey {
  border-radius: 15px;
  background: var(--Disabled-Fill, #e7e7e7);
  display: flex;
  width: 170px;
  height: 40px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  filter: grayscale(100%);
}

.bg-pink-gradient {
  background: linear-gradient(174deg, #ff8a7e 0%, #fa555e 95.17%);
}

.image-button-grey {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  cursor: pointer;
  filter: grayscale(100%);
}

.image-button-color {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.bg-white {
  background: #ffffff;
}

.search-bar {
  display: flex;
  width: 396px;
  padding: 17.5px 14px;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 15px;
  border: 2px solid #e7e7e7;
  background: #fff;
  box-shadow: 0px 4px 0px 0px #e7e7e7;
  margin: 0 auto;
}

.dialouge {
  display: flex;
  width: 396px;
  height: 120px;
  padding: 14px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 2px solid #e7e7e7;
  background: #fff;
  box-shadow: 0px 4px 0px 0px #e7e7e7;
  margin: 0 auto;
  text-align: left;
}

.bg-image {
  background-image: url("./assets/bg1.png");
  height: 750px;
}

.phoning-red {
  display: inline-flex;
  padding: 16px 16px 16px 36px;
  align-items: center;
  gap: 49px;
  border-radius: 15px;
  border: 2px solid var(--Coral, #fa555e);
  background: #fff;
  box-shadow: 0px 4px 0px 0px #fa555e;
}

.phoning-green {
  display: inline-flex;
  padding: 16px 16px 16px 36px;
  align-items: center;
  gap: 51px;
  border-radius: 15px;
  border: 2px solid #31ef12;
  background: #fff;
  box-shadow: 0px 4px 0px 0px #31ef12;
}

.cam-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Adjust the height to fit your layout */
}